<nav class="pa3 pa4-ns headerbg h4">
  <div class="mw7 center">
    <a class="link dim black b f6 f1-ns dib mr3" href="/" title="Home">Mongo Scrape</a>
    <button class="fr grow ba pa2 ukraine b--pink" id="getNewArticles">Scrape News</button>
    <a href="/saved"><button class="fr grow ba pa2 ukraine b--pink mr2" id="viewSaved">View Saved</button></a>
  </div>
</nav>