<nav class="pa3 pa4-ns headerbg h4">
  <div class="mw8 center">
    <a class="link dim black b f6 f1-ns dib mr3" href="#" title="Home">Mongo Scrape</a>
    <a class="link dim gray  fr  f6 f3-ns dib mr3" href="#" title="Home">Home</a>
    <a class="link dim gray  fr  f6 f3-ns dib mr3" href="#" title="About">About</a>
    <a class="link dim gray  fr  f6 f3-ns dib mr3" href="#" title="Store">Store</a>
    <a class="link dim gray  fr  f6 f3-ns dib mr3" href="#" title="Contact">Contact</a>
    <button>Scrape Boing Boing</button>
  </div>
</nav>