<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mongo Scraper</title>
  <link rel="stylesheet" href="https://unpkg.com/tachyons@4.10.0/css/tachyons.min.css"/>
  <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>
  {{> header }}
  <div class="bg-light-yellow">
  {{{body}}}
  </div>
  <script src="/assets/js/main.js"></script>
  <script src="/assets/js/modal.js"></script>
</body>
</html>