<section class="mw7 center avenir bg-washed-green ph4" id="scraped-articles">
  <div id="articles"></div>
  <script src="/assets/js/mithril.js"></script>
  <script src="/assets/js/savedarticles.js"></script>
</section>